<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Member:</strong>
  <%= @group.member %>
</p>

<p>
  <strong>Foundation:</strong>
  <%= @group.foundation %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @group.kind %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
