<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @concert.group_id %>
</p>

<p>
  <strong>Concert:</strong>
  <%= @concert.concert %>
</p>

<p>
  <strong>Assistant:</strong>
  <%= @concert.assistant %>
</p>

<%= link_to 'Edit', edit_concert_path(@concert) %> |
<%= link_to 'Back', concerts_path %>
